html {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  font-size: 62.5%;
}
p {
  font-size: 2em;
  margin: 8% auto;
  width: 50%;
}
p strong {
  font-size: 1.5em;
}
p + p {
  margin: 0 auto;
}